@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    /* Poppins */
    
      .poppins-family {
        font-family: "Poppins", sans-serif;
      }
      
      
      
      
    /* Inter Google Font */
    .inter-family{
        font-family: "Inter", sans-serif;
    }

    /* Pompiere Font Family */
    .pompiere-family{
        font-family: "Pompiere", sans-serif;
    }

    /* Galada Font Family */
    .galada-family{
        font-family: "Galada", cursive;
    }

    /* Monsterrat Family */
    .monsterrat-family{
        font-family: "Montserrat", sans-serif;
    }

    /* Poppins Family */
    .poppins-family{
        font-family: "Poppins", sans-serif;
    }
    

    .test-red{
        border:1px solid red;
    }

    .test-green{
        border: 1px solid green;
    }

    .test-blue{
        border:1px solid blue;
    }

    .background--solid-brown{
        background-color: rgb(84, 51, 16);
    }
    .background--light-brown{
        background-color: rgb(116, 81, 45);
    }

    .background--salamon{
        background-color:#DBBCA1
    }

    .text--cream{
        color:#F8F4E1
    }

    .text-solid-brown{
        color:rgb(84, 51, 16);
    }


}